body {
  font: 50px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 0px;
  list-style: none;
  font-size: 18pt;
}

.footer {
  margin-left: 15%;
  font-size: 24pt;
  font-family: "Century Gothic", Futura, sans-serif;
  position: relative;
  top: 170px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.square {
  background: #ffb87d;
  border: 2px solid rgb(255, 255, 255);
  float: left;
  color:#000baa;
  font-size: 85pt;
  line-height: 34px;
  height: 175px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 175px;
}

.square:hover {
  background: #ff8d30;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 75%;
  font-size: 24pt;
  font-family: "Century Gothic", Futura, sans-serif;
  position: relative;
  top: -50px;
}

.revertButton {
  height: 50px;
  width: 200px;
  background: #2f3dff;
  border: 1px solid white;
  font-size:14pt;
  font-family: "Century Gothic", Futura, sans-serif;
  color:white;
}

.revertButton:hover {
  background: #0011ff;
}

.revertButton:focus {
  background: #0011ff;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: "Century Gothic", Futura, sans-serif;
  padding-top: 50px;
  
}

.newGameButton {
  height: 50px;
  width: 200px;
  background: #2f3dff;
  border: 1px solid #2f3dff;
  font-size:14pt;
  font-family: "Century Gothic", Futura, sans-serif;
  color:white;
  padding-bottom: 0px;
  position: relative;
}

.newGameButton:hover {
  background: #0011ff;
}

