body {
  font: 50px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 0px;
  list-style: none
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.square {
  background: rgb(207, 207, 207);
  border: 2px solid rgb(255, 255, 255);
  float: left;
  color:black;
  font-size: 85pt;
  line-height: 34px;
  height: 175px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 175px;
}

.square:hover {
  background: rgb(184, 184, 184);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 200px;
  font-size: 24pt;
  font-family: "Century Gothic", Futura, sans-serif;
}

.revertButton {
  height: 50px;
  width: 200px;
  background: #2f3dff;
  border: 1px solid #2f3dff;
  font-size:14pt;
  font-family: "Century Gothic", Futura, sans-serif;
  color:white;
  
}

.revertButton:hover {
  background: #0011ff;
}

.revertButton:focus {
  background: #0011ff;
}

.title {
  font-size: 50px;
  text-align: center;
  font-family: "Century Gothic", Futura, sans-serif;
  padding-top: 50px;
  
}

.newGameButton {
  height: 50px;
  width: 200px;
  background: #ff8d30;
  border: 1px solid #ff8d30;
  font-size:14pt;
  font-family: "Century Gothic", Futura, sans-serif;
  color:white;
  padding-bottom: 0px;
  position: relative;
}

.newGameButton:hover {
  background: #ff7300;
}